@{
    ViewData["Title"] = "Get to Know Joel";
}

<div class="text-center">
    <h1 class="display-4">Get to Know Joel Hilton</h1>
    <hr />

    <div class="mt-4">
        <h3>Comedy & Podcasts</h3>
        <p>
            When he's not curating his film collection, you can find Joel performing or podcasting at the links below:
        </p>

        <div class="mb-3">
            <a href="https://www.qwcomedy.com/" target="_blank" class="btn btn-outline-primary">
                Quick Wits Comedy
            </a>
        </div>

        <div class="mb-4">
            <a href="https://baconsale.com/" target="_blank" class="btn btn-outline-success">
                Baconsale Podcast
            </a>
        </div>

        <div class="mt-5">
            <p class="text-muted italic">Click the photo below to visit Baconsale!</p>
            <a href="https://baconsale.com/" target="_blank">
                <img src="~/images/bacon.jpg" 
                     alt="Joel Hilton Baconsale" 
                     class="img-fluid rounded shadow" 
                     style="max-width: 500px;" />
            </a>
        </div>
    </div>
</div>